@import "variable-overrides";
@import "../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import '../../../../node_modules/font-awesome/scss/font-awesome';

/**
 * Frontend Styles Start Here
 */

.invoice{
  position: relative;
  .header{
    display: flex;
    flex-direction: column;
    .company{
      text-align: center;
      line-height: 10px;
    }
  }
}

.invoice__id{
  position: absolute;
  top: 0;
  right: 0;
  font-size: 20px;
  font-weight: 500;

  span{
    color: red;
  }
}

.invoice__detail{
  table{
    td{

      label{
        display: block;
      }
    }
  }
}

#servicesSelected, #servicesAll, #packagesSelected, #packagesAll{
  min-height: 250px;
  width: 100%;
  background-color: rgba(183, 183, 183, 0.59);
  border: 1px solid #000;
}

.service__item, .package__item{
  margin: 5px;
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border: 3px solid #eee;
}

.storePolicy, .invoice__remark, .invoice__signs, .invoice__summary, .invoice__adjustment{
  background-color: #f9f9f9;
  padding: 10px 10px;
  border: 1px solid #DDDDDD;
}

.storePolicy{
  font-size: 12px;
}

.dflex{
  display: flex;
}

.invoice__signs--area{
  padding: 2px 10px;
}

.services__selected tr{
  border: 2px solid #eee;
  box-sizing: border-box;
}

//patch 1
//add color
.Pre.Wedding {
    border-color: #0074D9 !important;
    color: #000;
    .table-catalog {
      color: #0074D9 !important;
    }
}

.Wedding.Day.Services {
    border-color: #FF4136 !important;
    color: #000;
    .table-catalog {
      color: #FF4136 !important;
    }
}

.Item {
    border-color: #FF851B !important;
    color: #000;
    .table-catalog {
      color: #FF851B !important;
    }
}

.Baby.Portrait {
    border-color: #B10DC9 !important;
    color: #000;
    .table-catalog {
      color: #B10DC9 !important;
    }
}

.Glamour.Shot {
    border-color: #001f3f !important;
    color: #000;
    .table-catalog {
      color: #B10DC9 !important;
    }
}

.services__selected{
  font-family: monospace,monospace;
  font-size: 1em;
  label {
    font-weight: bold;
  }
}

.mfp-bg {
  z-index: 1500 !important;
}
.mfp-wrap {
  z-index: 1501 !important;
}

.gallery-photo-preview {
  margin: 5px;
}

.gallery-photo-preview.picked {
  margin: 3px;
  border: 2px dashed green;
}

//colors
$white: #fff;
$white_40: rgba(255, 255, 255, 0.4);
$color_fountain_blue_approx: #58cbc2;
$color_puerto_rico_approx: #3bbfb4;
$color_keppel_approx: #36afa5;
$color_jungle_green_approx: #309c93;
$color_emerald_approx: #4cd787;
$color_chateau_green_approx: #2abb68;
$color_terracotta_approx: #eb6d60;
$color_cinnabar_approx: #e74c3c;
$color_flame_pea_approx: #e85445;
$color_thunderbird_approx: #da2d1b;
$color_saffron_approx: #f3cd36;
$color_corn_approx: #f1c40f;
$color_galliano_approx: #dfb50d;
$color_lightning_yellow_approx: #f2c619;
$color_buddha_gold_approx: #c7a10c;
$color_shakespeare_approx: #57aae1;
$color_curious_blue_approx: #3498db;
$color_picton_blue_approx: #3d9cdd;
$color_mariner_approx: #2280bf;
$color_tower_gray_approx: #abb8b9;
$color_pewter_approx: #95a5a6;
$color_granny_smith_approx: #8a9c9d;
$color_edward_approx: #9baaab;
$color_regent_gray_approx: #87999a;
$color_oslo_gray_approx: #7c9091;
$color_blue_bayoux_approx: #435d78;
$color_pickled_bluewood_approx: #34495e;
$color_fiord_approx: #384e65;
$color_ebony_clay_approx: #243240;
$color_regent_st_blue_approx: #a4d4ed;
$color_seagull_approx: #82c4e6;
$color_viking_approx: #71bce3;
$color_cornflower_approx: #8ac8e8;
$color_jaffa_approx: #ea9347;
$color_zest_approx: #e67e22;
$color_hot_cinnamon_approx: #db7419;
$color_bourbon_approx: #c46816;
$color_lilac_bush_approx: #9180c8;
$color_blue_marguerite_approx: #7863bc;
$color_blue_violet_approx: #6c55b6;
$color_butterfly_bush_approx: #5f48a9;
$color_shamrock_approx: #37bf8d;
$color_lochinvar_approx: #2d9b73;
$color_glacier_approx: #72a7d3;
$color_danube_approx: #5394c9;
$color_steel_blue_approx: #438ac4;
$color_brink_pink_approx: #eb6084;
$color_cerise_red_approx: #e73c68;
$color_amaranth_approx: #e52a5a;
$color_cabaret_approx: #e8456f;
$color_crimson_approx: #da1b4c;
$color_hot_pink_approx: #e667bb;
$color_brilliant_rose_approx: #e044ab;
$color_cerise_approx: #dd33a3;
$color_valencia_approx: #d44e40;
$color_flush_mahogany_approx: #c0392b;
$color_tall_poppy_approx: #af3427;
$color_persian_red_approx: #c83b2d;
$color_roof_terracotta_approx: #ab3326;
$color_prairie_sand_approx: #9a2e23;
$color_bali_hai_approx: #919bad;
$color_waterloo__approx: #7a869c;
$color_slate_gray_approx: #6e7b93;
$color_pale_sky_approx: #636f85;
$color_hoki_approx: #677fa4;
$color_kashmir_blue_approx: #556b8d;
$color_waikawa_gray_approx: #597093;
$color_apricot_approx: #e98a72;
$color_burnt_sienna_approx: #e36d4f;
$color_punch_approx: #dd4c27;
$color_san_marino_approx: #466ab5;
$color_azure_approx: #3b5998;
$color_chambray_approx: #355089;
$color_astronaut_approx: #2e4677;
$color_dodger_blue_approx: #17bfff;
$color_cerulean_approx: #00aced;
$color_bondi_blue_approx: #008bbf;
$color_deep_blush_approx: #ee71a1;
$color_french_rose_approx: #ea4c89;
$color_yellow_green_approx: #badc71;
$color_conifer_approx: #aad450;
$color_atlantis_approx: #a0cf3c;

//@extend-elements
//original selectors
//.info-tiles, .shortcut-tiles
%extend_1 {
  margin: 0 0 20px;
  display: block;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 3px;
}


.tiles-heading {
  //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: 0.05s ease-in;
}
.tiles-body {
  //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: 0.05s ease-in;
}
.tiles-footer {
  //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: 0.05s ease-in;
}
.info-tiles {
  @extend %extend_1;
  .tiles-heading {
    letter-spacing: 0.1em;
    padding: 6px 10px;
    //Instead of the line below you could use @include border-top-right-radius($radius)
    border-top-right-radius: 3px;
    //Instead of the line below you could use @include border-top-left-radius($radius)
    border-top-left-radius: 3px;
    text-transform: uppercase;
    text-align: left;
    vertical-align: top;
    font-size: 12px;
  }
  .tiles-body {
    font-size: 36px;
    //Instead of the line below you could use @include border-bottom-right-radius($radius)
    border-bottom-right-radius: 3px;
    //Instead of the line below you could use @include border-bottom-left-radius($radius)
    border-bottom-left-radius: 3px;
  }
  .tiles-footer {
    color: $white;
    font-size: 12px;
    color: $white_40;
    padding: 6px 10px;
    //Instead of the line below you could use @include border-bottom-right-radius($radius)
    border-bottom-right-radius: 3px;
    //Instead of the line below you could use @include border-bottom-left-radius($radius)
    border-bottom-left-radius: 3px;
  }
  &:hover {
    text-decoration: none;
    i {
      color: $white;
    }
    .tiles-footer .pull-right {
      color: $white;
    }
    .tiles-heading .pull-right {
      color: $white;
    }
  }
  &.tiles-info {
    color: $white !important;
    .tiles-heading {
      background: $color_fountain_blue_approx;
    }
    .tiles-body {
      background: $color_puerto_rico_approx;
    }
    .tiles-body-alt {
      background: $color_puerto_rico_approx;
    }
    .tiles-footer {
      background: $color_keppel_approx;
    }
    &:hover {
      color: $white;
      .tiles-heading {
        background: $color_puerto_rico_approx;
      }
      .tiles-body {
        background: $color_keppel_approx;
      }
      .tiles-body-alt {
        background: $color_keppel_approx;
      }
      .tiles-footer {
        background: $color_jungle_green_approx;
      }
    }
  }
  &.tiles-success {
    color: $white !important;
    .tiles-heading {
      background: $color_emerald_approx;
    }
    .tiles-body {
      background: $color_emerald_approx;
    }
    .tiles-body-alt {
      background: $color_emerald_approx;
    }
    .tiles-footer {
      background: $color_chateau_green_approx;
    }
    &:hover {
      color: $white;
      .tiles-heading {
        background: $color_emerald_approx;
      }
      .tiles-body {
        background: $color_chateau_green_approx;
      }
      .tiles-body-alt {
        background: $color_chateau_green_approx;
      }
      .tiles-footer {
        background: $color_chateau_green_approx;
      }
    }
  }
  &.tiles-danger {
    color: $white !important;
    .tiles-heading {
      background: $color_terracotta_approx;
    }
    .tiles-body {
      background: $color_cinnabar_approx;
    }
    .tiles-body-alt {
      background: $color_cinnabar_approx;
    }
    .tiles-footer {
      background: $color_cinnabar_approx;
    }
    &:hover {
      color: $white;
      .tiles-heading {
        background: $color_flame_pea_approx;
      }
      .tiles-body {
        background: $color_cinnabar_approx;
      }
      .tiles-body-alt {
        background: $color_cinnabar_approx;
      }
      .tiles-footer {
        background: $color_thunderbird_approx;
      }
    }
  }
  &.tiles-warning {
    color: $white !important;
    .tiles-heading {
      background: $color_saffron_approx;
    }
    .tiles-body {
      background: $color_corn_approx;
    }
    .tiles-body-alt {
      background: $color_corn_approx;
    }
    .tiles-footer {
      background: $color_galliano_approx;
    }
    &:hover {
      color: $white;
      .tiles-heading {
        background: $color_lightning_yellow_approx;
      }
      .tiles-body {
        background: $color_galliano_approx;
      }
      .tiles-body-alt {
        background: $color_galliano_approx;
      }
      .tiles-footer {
        background: $color_buddha_gold_approx;
      }
    }
  }
  &.tiles-primary {
    color: $white !important;
    .tiles-heading {
      background: $color_shakespeare_approx;
    }
    .tiles-body {
      background: $color_curious_blue_approx;
    }
    .tiles-body-alt {
      background: $color_curious_blue_approx;
    }
    .tiles-footer {
      background: $color_curious_blue_approx;
    }
    &:hover {
      color: $white;
      .tiles-heading {
        background: $color_picton_blue_approx;
      }
      .tiles-body {
        background: $color_curious_blue_approx;
      }
      .tiles-body-alt {
        background: $color_curious_blue_approx;
      }
      .tiles-footer {
        background: $color_mariner_approx;
      }
    }
  }
  &.tiles-inverse {
    color: $white !important;
    .tiles-heading {
      background: $color_tower_gray_approx;
    }
    .tiles-body {
      background: $color_pewter_approx;
    }
    .tiles-body-alt {
      background: $color_pewter_approx;
    }
    .tiles-footer {
      background: $color_granny_smith_approx;
    }
    &:hover {
      color: $white;
      .tiles-heading {
        background: $color_edward_approx;
      }
      .tiles-body {
        background: $color_regent_gray_approx;
      }
      .tiles-body-alt {
        background: $color_regent_gray_approx;
      }
      .tiles-footer {
        background: $color_oslo_gray_approx;
      }
    }
  }
  &.tiles-midnightblue {
    color: $white !important;
    .tiles-heading {
      background: $color_blue_bayoux_approx;
    }
    .tiles-body {
      background: $color_pickled_bluewood_approx;
    }
    .tiles-body-alt {
      background: $color_pickled_bluewood_approx;
    }
    .tiles-footer {
      background: $color_pickled_bluewood_approx;
    }
    &:hover {
      color: $white;
      .tiles-heading {
        background: $color_fiord_approx;
      }
      .tiles-body {
        background: $color_pickled_bluewood_approx;
      }
      .tiles-body-alt {
        background: $color_pickled_bluewood_approx;
      }
      .tiles-footer {
        background: $color_ebony_clay_approx;
      }
    }
  }
  &.tiles-sky {
    color: $white !important;
    .tiles-heading {
      background: $color_regent_st_blue_approx;
    }
    .tiles-body {
      background: $color_seagull_approx;
    }
    .tiles-body-alt {
      background: $color_seagull_approx;
    }
    .tiles-footer {
      background: $color_viking_approx;
    }
    &:hover {
      color: $white;
      .tiles-heading {
        background: $color_cornflower_approx;
      }
      .tiles-body {
        background: $color_viking_approx;
      }
      .tiles-body-alt {
        background: $color_viking_approx;
      }
      .tiles-footer {
        background: $color_shakespeare_approx;
      }
    }
  }
  &.tiles-orange {
    color: $white !important;
    .tiles-heading {
      background: $color_jaffa_approx;
    }
    .tiles-body {
      background: $color_zest_approx;
    }
    .tiles-body-alt {
      background: $color_zest_approx;
    }
    .tiles-footer {
      background: $color_hot_cinnamon_approx;
    }
    &:hover {
      color: $white;
      .tiles-heading {
        background: $color_zest_approx;
      }
      .tiles-body {
        background: $color_hot_cinnamon_approx;
      }
      .tiles-body-alt {
        background: $color_hot_cinnamon_approx;
      }
      .tiles-footer {
        background: $color_bourbon_approx;
      }
    }
  }
  &.tiles-indigo {
    color: $white !important;
    .tiles-heading {
      background: $color_lilac_bush_approx;
    }
    .tiles-body {
      background: $color_blue_marguerite_approx;
    }
    .tiles-body-alt {
      background: $color_blue_marguerite_approx;
    }
    .tiles-footer {
      background: $color_blue_violet_approx;
    }
    &:hover {
      color: $white;
      .tiles-heading {
        background: $color_blue_marguerite_approx;
      }
      .tiles-body {
        background: $color_blue_violet_approx;
      }
      .tiles-body-alt {
        background: $color_blue_violet_approx;
      }
      .tiles-footer {
        background: $color_butterfly_bush_approx;
      }
    }
  }
  &.tiles-green {
    color: $white !important;
    .tiles-heading {
      background: $color_puerto_rico_approx;
    }
    .tiles-body {
      background: $color_shamrock_approx;
    }
    .tiles-body-alt {
      background: $color_shamrock_approx;
    }
    .tiles-footer {
      background: $color_jungle_green_approx;
    }
    &:hover {
      color: $white;
      .tiles-heading {
        background: $color_shamrock_approx;
      }
      .tiles-body {
        background: $color_jungle_green_approx;
      }
      .tiles-body-alt {
        background: $color_jungle_green_approx;
      }
      .tiles-footer {
        background: $color_lochinvar_approx;
      }
    }
  }
  &.tiles-blue {
    color: $white !important;
    .tiles-heading {
      background: $color_glacier_approx;
    }
    .tiles-body {
      background: $color_danube_approx;
    }
    .tiles-body-alt {
      background: $color_danube_approx;
    }
    .tiles-footer {
      background: $color_steel_blue_approx;
    }
    &:hover {
      color: $white;
      .tiles-heading {
        background: $color_danube_approx;
      }
      .tiles-body {
        background: $color_steel_blue_approx;
      }
      .tiles-body-alt {
        background: $color_steel_blue_approx;
      }
      .tiles-footer {
        background: $color_steel_blue_approx;
      }
    }
  }
  &.tiles-magenta {
    color: $white !important;
    .tiles-heading {
      background: $color_brink_pink_approx;
    }
    .tiles-body {
      background: $color_cerise_red_approx;
    }
    .tiles-body-alt {
      background: $color_cerise_red_approx;
    }
    .tiles-footer {
      background: $color_amaranth_approx;
    }
    &:hover {
      color: $white;
      .tiles-heading {
        background: $color_cabaret_approx;
      }
      .tiles-body {
        background: $color_amaranth_approx;
      }
      .tiles-body-alt {
        background: $color_amaranth_approx;
      }
      .tiles-footer {
        background: $color_crimson_approx;
      }
    }
  }
  &.tiles-purple {
    color: $white !important;
    .tiles-heading {
      background: $color_hot_pink_approx;
    }
    .tiles-body {
      background: $color_brilliant_rose_approx;
    }
    .tiles-body-alt {
      background: $color_brilliant_rose_approx;
    }
    .tiles-footer {
      background: $color_cerise_approx;
    }
    &:hover {
      color: $white;
      .tiles-heading {
        background: $color_brilliant_rose_approx;
      }
      .tiles-body {
        background: $color_cerise_approx;
      }
      .tiles-body-alt {
        background: $color_cerise_approx;
      }
      .tiles-footer {
        background: $color_cerise_approx;
      }
    }
  }
  &.tiles-brown {
    color: $white !important;
    .tiles-heading {
      background: $color_valencia_approx;
    }
    .tiles-body {
      background: $color_flush_mahogany_approx;
    }
    .tiles-body-alt {
      background: $color_flush_mahogany_approx;
    }
    .tiles-footer {
      background: $color_tall_poppy_approx;
    }
    &:hover {
      color: $white;
      .tiles-heading {
        background: $color_persian_red_approx;
      }
      .tiles-body {
        background: $color_roof_terracotta_approx;
      }
      .tiles-body-alt {
        background: $color_roof_terracotta_approx;
      }
      .tiles-footer {
        background: $color_prairie_sand_approx;
      }
    }
  }
  &.tiles-grape {
    color: $white !important;
    .tiles-heading {
      background: $color_bali_hai_approx;
    }
    .tiles-body {
      background: $color_waterloo__approx;
    }
    .tiles-body-alt {
      background: $color_waterloo__approx;
    }
    .tiles-footer {
      background: $color_slate_gray_approx;
    }
    &:hover {
      color: $white;
      .tiles-heading {
        background: $color_regent_gray_approx;
      }
      .tiles-body {
        background: $color_slate_gray_approx;
      }
      .tiles-body-alt {
        background: $color_slate_gray_approx;
      }
      .tiles-footer {
        background: $color_pale_sky_approx;
      }
    }
  }
  &.tiles-toyo {
    color: $white !important;
    .tiles-heading {
      background: $color_hoki_approx;
    }
    .tiles-body {
      background: $color_kashmir_blue_approx;
    }
    .tiles-body-alt {
      background: $color_kashmir_blue_approx;
    }
    .tiles-footer {
      background: $color_blue_bayoux_approx;
    }
    &:hover {
      color: $white;
      .tiles-heading {
        background: $color_waikawa_gray_approx;
      }
      .tiles-body {
        background: $color_blue_bayoux_approx;
      }
      .tiles-body-alt {
        background: $color_blue_bayoux_approx;
      }
      .tiles-footer {
        background: $color_fiord_approx;
      }
    }
  }
  &.tiles-alizarin {
    color: $white !important;
    .tiles-heading {
      background: $color_apricot_approx;
    }
    .tiles-body {
      background: $color_burnt_sienna_approx;
    }
    .tiles-body-alt {
      background: $color_burnt_sienna_approx;
    }
    .tiles-footer {
      background: $color_flame_pea_approx;
    }
    &:hover {
      color: $white;
      .tiles-heading {
        background: $color_terracotta_approx;
      }
      .tiles-body {
        background: $color_flame_pea_approx;
      }
      .tiles-body-alt {
        background: $color_flame_pea_approx;
      }
      .tiles-footer {
        background: $color_punch_approx;
      }
    }
  }
  &.tiles-facebook {
    color: $white !important;
    .tiles-heading {
      background: $color_san_marino_approx;
    }
    .tiles-body {
      background: $color_azure_approx;
    }
    .tiles-body-alt {
      background: $color_azure_approx;
    }
    .tiles-footer {
      background: $color_chambray_approx;
    }
    &:hover {
      color: $white;
      .tiles-heading {
        background: $color_azure_approx;
      }
      .tiles-body {
        background: $color_chambray_approx;
      }
      .tiles-body-alt {
        background: $color_chambray_approx;
      }
      .tiles-footer {
        background: $color_astronaut_approx;
      }
    }
  }
  &.tiles-twitter {
    color: $white !important;
    .tiles-heading {
      background: $color_dodger_blue_approx;
    }
    .tiles-body {
      background: $color_cerulean_approx;
    }
    .tiles-body-alt {
      background: $color_cerulean_approx;
    }
    .tiles-footer {
      background: $color_cerulean_approx;
    }
    &:hover {
      color: $white;
      .tiles-heading {
        background: $color_cerulean_approx;
      }
      .tiles-body {
        background: $color_cerulean_approx;
      }
      .tiles-body-alt {
        background: $color_cerulean_approx;
      }
      .tiles-footer {
        background: $color_bondi_blue_approx;
      }
    }
  }
  &.tiles-dribbble {
    color: $white !important;
    .tiles-heading {
      background: $color_deep_blush_approx;
    }
    .tiles-body {
      background: $color_french_rose_approx;
    }
    .tiles-body-alt {
      background: $color_french_rose_approx;
    }
    .tiles-footer {
      background: $color_cerise_approx;
    }
    &:hover {
      color: $white;
      .tiles-heading {
        background: $color_french_rose_approx;
      }
      .tiles-body {
        background: $color_cerise_approx;
      }
      .tiles-body-alt {
        background: $color_cerise_approx;
      }
      .tiles-footer {
        background: $color_cerise_red_approx;
      }
    }
  }
  &.tiles-vimeo {
    color: $white !important;
    .tiles-heading {
      background: $color_yellow_green_approx;
    }
    .tiles-body {
      background: $color_conifer_approx;
    }
    .tiles-body-alt {
      background: $color_conifer_approx;
    }
    .tiles-footer {
      background: $color_conifer_approx;
    }
    &:hover {
      color: $white;
      .tiles-heading {
        background: $color_conifer_approx;
      }
      .tiles-body {
        background: $color_atlantis_approx;
      }
      .tiles-body-alt {
        background: $color_atlantis_approx;
      }
      .tiles-footer {
        background: $color_atlantis_approx;
      }
    }
  }
  &.has-footer .tiles-body {
    //Instead of the line below you could use @include border-bottom-right-radius($radius)
    border-bottom-right-radius: 0;
    //Instead of the line below you could use @include border-bottom-left-radius($radius)
    border-bottom-left-radius: 0;
  }
}
.shortcut-tiles {
  @extend %extend_1;
}
a {
  &.info-tiles {
    background: none;
  }
  &.shortcut-tiles {
    background: none;
  }
}